.result-container {
    display: grid;
    grid-auto-rows: 220px;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(auto-fill, 2fr);
    width: 90%;
    height: 40vw;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 5%;
    margin-top: 1.5%;
    background-color: rgba(0, 0, 0, 0);
}
