.searchResultSelection {
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    margin: 1%;
    margin-bottom: 0;
    color: #FFF;
    cursor: pointer;
    text-shadow: 2px 2px #000000;
    background: rgba(0, 0, 0, 0.7) center;
    height: 260px;
}

.searchResult-container {
    background-color: rgba(0, 0, 0, 0);
}

.image-container {
    width: 98%;
    margin-left: 0.75%;
    height: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(207, 255, 135, 0.9);
}


.add-recipe-icon {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(4, 135, 0, 0.5);
    border-radius: 100vh;
    cursor: pointer;

}


.remove-recipe-icon {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 50, 50, 0.5);
    border-radius: 100vh;
    cursor: pointer;

}

.add-recipe-icon:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.remove-recipe-icon:hover {
    transform: scale(1.05);
    transition: 0.2s;
}



.searchResultSelection:hover {
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}



