
.search-button {
    display: inline-block;
    float: left;
    height: 5vh;
    font-family: 'Hind Siliguri', sans-serif;
    background-color: rgba(207, 255, 135, 0.5);
    border-radius: 100vh;
    font-size: 20px;
    border: 2px solid rgb(4, 135, 0);
}

.search-button:focus {
    outline: 0 !important;
}

